.main {
    margin: 3em auto;
    width: 600px;
}
.section {
    margin: 0 0 3em 0;
    text-align: justify;
}
.subsection {
    margin: 0 0 1em 0;
}


.figure_container, .formula_container, .algorithm_container, .animation_container {
    width: 50%;
    margin: 0 auto;
}
.figure, .formula, .algorithm, .animation {
    border: 1px solid #c7c7c7;
    text-align: center;
    padding: 5px;
    float: left;
    margin: 3em 0 3em 0;
}
.figure img, .formula img, .algorithm img {
    display: block;
    width: 600px;
    margin: 0 auto;
}
.animation embed[~id] {
    display: block;
    width: 600px;
    margin: 0 auto;
}
.animation .title {
}
.animation .title:before {
    content: "Animation: ";
}
.figure .title {
}
.figure .title:before {
    content: "Figure: ";
}
.figure .title:after {
    white-space: pre;
    font-size: 70%;
    content: "\a(click figure to maximise)";
}
.formula .title {
}
.formula .title:before {
    content: "Formula: ";
}
.formula .title:after {
    white-space: pre;
    font-size: 70%;
    content: "\a(click formula to maximise)";
}
.algorithm .title {
}
.algorithm .title:before {
    content: "Algorithm: ";
}
.algorithm .title:after {
    white-space: pre;
    font-size: 70%;
    content: "\a(click algorithm to maximise)";
}


a.note {
    vertical-align: top;
    font-size: 75%;
    font-style: normal;
    color: inherit;
    text-decoration: none;
    margin: 0 2px 0 2px;
}
a.note:before {
    content: attr(num);
}
a.note[href]:hover {
    text-decoration: underline;
}


a.reference {
    text-decoration: none;
    font-style: inherit;
    font-weight: inherit;
    font: inherit;
    font-size: 75%;
}
a.reference[href]:hover {
    text-decoration: underline;
}
a.reference:before {
    white-space: pre;
    content: "[" attr(num) "]";
}


.reference {
    margin: 0 0 1em 0;
    font-family: monospace;
}
.reference[num]:before {
    content: "[" attr(num) "] ";
}
.reference a {
    color: inherit;
    text-decoration: none;
}
.reference a[href]:hover {
    text-decoration: underline;
}
.reference .authors {
}
 .reference .authors:after {
    content: ", ";
}
.reference .title {
}
.reference .title:before {
    content: "\"";
}
.reference .title:after {
    content: "\", ";
}
.reference .publication {
    font-style: italic;
}
.reference .publication:after {
    font-style: normal;
    content: ", ";
}
.reference .year {
}


.header {
    text-align: center;
    margin: 0 0 3em 0;
}
.header a {
    color: inherit;
}
.header .authors {
    font-style: italic;
}
.header .institutions {
    font-size: 80%;
}
.header .emails {
    font-family: monospace;
    font-size: 85%;
}
